body {
	background: black;
	}
	
	
	header {
	background: black;
	}
	#imgtop{
		width: 100%;
		border: 5px solid black;
	}
	
	h1 {
		color: white;
		text-align: center;
		font-size: 18px;
		font-style: italic;
		margin: 5px;
	}
	nav a{
	
		text-transform: uppercase;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 18px;
		text-decoration: none;
	}
	nav a:hover {
		color: #6699FF;
		text-decoration: underline;
	}