body {
background: black;
}


header {
background: black;
}
.imgtop{
	margin: auto;



}

h1 {
	color: white;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}
p{
	color: white;
}
ul{
	text-decoration: none;
	color: white;
}
